<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Emoções</title>
</head>
<body>
    <h1>Detecção de Emoções em Vídeos do YouTube</h1>
    <form action="/process_video" method="POST">
        <label for="youtube_url">Insira a URL do vídeo:</label><br>
        <input type="text" id="youtube_url" name="youtube_url" required><br><br>
        <button type="submit">Analisar Vídeo</button>
    </form>
</body>
</html>
